<div
  class="chat-message"
  [ngClass]="{
    'chat-message--left': message?.role === 'assistant',
    'chat-message--right': message?.role === 'user'
  }"
>
  <div
    class="chat-message__bubble"
    [ngClass]="{
      'chat-message__bubble--left': message?.role === 'assistant'
    }"
  >
    @switch (type){
      @case('chat'){
        <div [innerHtml]="message!.content | markdown"></div>
      }
      @case('img'){
        <img [ngSrc]="message!.content" alt="image" width="256" height="256"/>
      }
      @case('speech'){
        <audio controls>
          <source [src]="message!.content" type="audio/mpeg">
        </audio>
      }
      @case('vision'){
        <div class="vision">
          <div class="vision-images">
            @for(image of message?.img; track message?.img?.indexOf(image)){
              <img [src]="image" [alt]="'image ' + message?.img?.indexOf(image)" width="256" height="256"/>
            }
          </div>
          <div [innerHtml]="message!.content | markdown"></div>
        </div>
      }
    }
  </div>
</div>
