.chat-input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--user-message-bubble);
  padding: 0 8px;

  border-radius: 30px;

  gap: 10px;
  width: 100%;
  max-width: 500px;

  & .chat-input{
    margin-left: 27px;
    width: 100%;
    height: 50px;
    max-height: 100px;

    background-color: var(--user-message-bubble);
    font-size: 16px;

    resize: none;
    border: none;

    &:focus{
      outline: none;
    }

    &::placeholder{
      color: var(--input-placeholder-color);
    }
  }

  & button{
    min-width: 35px;
    height: 35px;
    border-radius: 30px;
    border: none;
    rotate: -90deg;

    display: flex;
    justify-content: center;
    align-items: center;

    position : relative;
    overflow: hidden;

    & img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    & .sending{
      animation: sendIconAnimation 1.5s;
    }
  }
}

@keyframes sendIconAnimation {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  25% {
    transform: translate(150%, -50%);
    opacity: 0;
  }
  50% {
    transform: translate(-150%, -50%);
    opacity: 0;
  }
  65% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}



