/* You can add global styles to this file, and also import other style files */

:root{
  .dark{
    --bg-color: #212121;
    --inverted-bg-color: #dedede;
    --scrollbar-color : #454545;
    --text-color: #E4E4E4;
    --inverted-text-color: #1b1b1b;
    --title-color: #B4B4B4;
    --icon-color: #B4B4B4;
    --sidebar-bg-color: #181818;
    --user-message-bubble: #2E2E2E;
    --button-color: white;
    --button-disabled-color: #858585;
    --input-placeholder-color: #B4B4B4;
    --sidebar-bubble-color: #2E2E2E;
    --history-date-color: #B4B4B4;
    --attachment-item-text-color: black;


    --icon-url: url("./app/assets/dark-theme.svg");
  }

  .light{
    --bg-color: #dedede;
    --inverted-bg-color: #212121;
    --scrollbar-color : #bababa;
    --text-color: #1b1b1b;
    --inverted-text-color: #E4E4E4;
    --title-color: #4b4b4b;
    --button-color: black;
    --icon-color: #4b4b4b;
    --sidebar-bg-color: #e7e7e7;
    --user-message-bubble: #d1d1d1;
    --button-disabled-color: #7a7a7a;
    --input-placeholder-color: #4b4b4b;
    --sidebar-bubble-color: #d1d1d1;
    --history-date-color: #4b4b4b;
    --attachment-item-text-color: white;

    --icon-url: url("./app/assets/light-theme.svg");

    .send, .icon{
      filter: invert(1);
    }

    .attachment-item{
      filter: none;
    }

    .history-item-title{
      filter: none;
    }
  }
}

.app-page {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

* {
  font-family: system-ui;
  color: var(--text-color);
  color-scheme: dark;
}

button{
  cursor: pointer;
  background: white;
}

button:disabled{
  cursor: not-allowed;
  background: var(--button-disabled-color);
}

@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    background: transparent;
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 10px;
  }
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.2s ease 0.2s;
}
[data-title]:after {
  opacity: 0;
  content: attr(data-title);
  background-color: var(--inverted-bg-color);
  color: var(--inverted-text-color);
  font-size: 12px;
  font-weight: 600;

  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 3px #222222;

  position: absolute;
  z-index: 99999;
  padding: 2px 5px;

  white-space: nowrap;
}

.history-item-delete[data-title]:after{
  top: -2em;
}

label[data-title]:after{
  top: -1.6em;
}

.navbar-button[data-title]:after{
  bottom: -1.6em;
  left:0;
}

.navbar-button[data-title]{
  position: relative;
}
