/* You can add global styles to this file, and also import other style files */

:root{
  --bg-color: #212121;
  --scrollbar-color : #454545;
  --text-color: #E4E4E4;
  --title-color: #B4B4B4;
  --icon-color: #B4B4B4;
  --sidebar-bg-color: #181818;
  --user-message-bubble: #2E2E2E;
  --button-color: white;
  --button-disabled-color: #858585;
  --input-placeholder-color: #B4B4B4;
  --sidebar-bubble-color: #2E2E2E;
  --history-date-color: #B4B4B4;
}

.app-page {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

* {
  font-family: system-ui;
  color: var(--text-color);
  color-scheme: dark;
}

button{
  cursor: pointer;
  background: white;
}

button:disabled{
  cursor: not-allowed;
  background: var(--button-disabled-color);
}

@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    background: transparent;
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 10px;
  }
}
